<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<!-- ✅ Permissions -->
		<key>NSCameraUsageDescription</key>
		<string>This app requires camera access to recognize your face.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs access to your photo library.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>This app saves photos to your library.</string>

		<!-- ✅ App Info -->
		<key>CFBundleDisplayName</key>
		<string>Eduwrx</string>
		<key>CFBundleName</key>
		<string>Eduwrx</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>192.168.1.47</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true />
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true />
				</dict>
			</dict>
		</dict>


		<!-- ✅ Orientation -->
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>

		<!-- ✅ Launch -->
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>

		<!-- ✅ iOS Behavior -->
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
	</dict>
</plist>